# --- Backend API y base de datos ---
fastapi
sqlalchemy>=2.0
alembic>=1.13
uvicorn[standard]

# --- Otros ---
psycopg2-binary
pydantic[email]
python-multipart
Pillow

# --- Machine Learning ---
matplotlib
pandas
numpy

# --- DeepLearning y CV ---
torch
torchvision
ultralytics
opencv-python-headless

# --- Testing ---
pytest
httpx
pytest-asyncio

# --- Utilidades ---
cloudinary
python-dotenv
python-jose[cryptography]
passlib[bcrypt]